
body {
    margin: 0;
    background-color: antiquewhite;
}

.panel{
    display: flex;
    flex-direction: column;
}

.title{
    display: flex;
    justify-content: center;
    font-size: 50px;
    margin-top: 10px;
}

.options {
    display: flex;
    flex: 1;
    justify-content: center;
    align-content: center;
    gap: 40px;
    padding-bottom: 20px;
}

.button {
    font-size: 25px;
    border-radius: 8px;

}

.container {
    display: flex;
    justify-content: center;
}

.grid {
    display: flex;
    border: 5px solid deepskyblue;
    height: 960px;
    width: 960px;
    background-color: white;
}

.vertical {
    display: flex;
    flex-direction: column;
    flex-grow: 1;

}

.horizontal {
    flex: 1 1 0;
    border: 1px solid black;
}

@keyframes mambo {
    0% {width: 50px}
    100% {width: 800px}
}

.mambo-animated{
    animation-name: mambo;
    animation-duration: 30s;
    animation-iteration-count: infinite;
}